<table>
  <thead>
    <tr>
      <th>Pais</th>
      <th>Estado</th>
      <th>Compañia</th>
      <th>Dirección</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies">
      <td>{{ company.state.country }}</td>
      <td>{{ company.state.name }}</td>
      <td>{{ company.name }}</td>
      <td>{{ company.address }}</td>
      <td>
        <button class="btn btn-danger" (click)="delete(company)"><i class="fa fa-trash"></i></button>
        <button class="btn"><i class="fa fa-pencil-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>
